hr {
	margin-top: 24px;
}

dl{
    margin-top: 0px;
}

dt {
    clear: left;
    float: left;
}

ul{
	list-style-type: none;
	padding-left: 0;
    margin-top: 0;
}

ul.formList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.formList li {
    margin: 0 5px 5px 0;
    overflow: hidden;
}

ul.formList li label, ul.formList li p {
    float: left;
    margin-left: 0;
    margin-top: 2px;
    padding-left: 0;
    white-space: normal;
    width: 23%;
}

label {
    font-weight: bold;
    margin-right: 4px;
}

.dlCalculation dt{
    width: 250px;
}

.dlCalculation dd{
    margin-left: 250px;
}

ul.mediumLabel li label {
    width: 35%;
}

ul.formList li span {
    display: block;
    margin-left: 30%;
    padding-left: 10px;
}

.numberOrientation{
	text-align: right;	
}

.cacheInfoWindow {
	min-width: 400px;
	min-height: 90px;
	padding-top: 5px;
    font-size: 15px;
}

.cacheInfoTable {
    width: 100%;
}

.cacheInfoTable td:first-child{
    text-align: left;
}

.cacheInfoTable td:last-child{
    text-align: right;
}

.locationInfoWindow {
	min-width: 360px;
	padding-top: 5px;
}

.mapCommandsContent{
	height: 100%;
	width: 390px;
	float: left;
/* 	background-color: rgba(255, 255, 255); */
	background-image: url(../images/75p_white.png);
}

.paddingLeft10{
	padding-left: 10px;
}

.slider{
	height: 100%;
	width: 24px;
	opacity: 0.9;
	filter: Alpha(opacity=90, finishopacity=60, style=2);
	float:left;	
	display: block;
	background: url('../images/toggle_minus.png') no-repeat 48% #4C4646;
}

.slider:hover{
	background-color: grey; 
}

.sliderOpen{
	background-image: url('../images/toggle_plus.png');
}

.overflowAuto{
	overflow: auto;
}

div.box_left {
    float: left;
    margin-right: 15px;
}
